.blog-detail-description-section {
  display: flex;
  justify-content: space-between;
  gap: 130px;
  margin: 72px 0 104px 0;
}
.description-left-section {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: sticky;
  top: calc(94px + 72px);
}
.description-left-section-main {
  flex-shrink: 0;
  width: 370px;
}

.category {
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.96px;
  background: var(
    --Gradients-Primary,
    linear-gradient(94deg, #00c6ff 3.08%, #0072ff 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  padding: 6px 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 40px;
  border: 1px solid #d1eaff;
}
.blog-title {
  color: #0b164c;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: -1.44px;
  width: 70%;
  margin-bottom: 48px;
}
.img-container {
  width: 100%;
  height: 446px;
}
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #e8f4ff;
}
.table-of-content ul li {
  list-style-type: none;
  text-align: start;
}
.table-of-content ul li {
  list-style-type: none;
  text-align: start;
  border: none;
  outline: none;
}
.table-of-content ul li button {
  text-align: start;
  border: none;
  outline: none;
  color: #626984;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 10px;
}
.table-of-content ul {
  text-align: start;
  margin: 0;
  padding: 0;
}
.blog-description h2,
.blog-description h1 {
  color: #0b164c;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}
.blog-description p {
  color: #2c3251;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 28px;
  background: transparent !important;
}
.blog-description p span {
  color: #2c3251;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 28px;
  background: transparent !important;
}
.table-content-heading {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(94deg, #00c6ff 3.08%, #0072ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.active-heading {
  color: #234cc0 !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */ /* for subtle position shift */
  transition: all 0.2s ease-in-out;
  margin-left: 20px;
  position: relative;
}
.active-heading::before {
  position: absolute; 
  content: ""; 
  width:16px;
border-radius: 5px;
  height: 2px;
  background: #234cc0;
  left: -20px;
    top: 11px;
}
.blog-description{
  padding-bottom: 100px;
}